@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}

@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
    
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: $tablet) and (min-width: $mobile) {
        @content;
    }
    
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
    
    
}
.header {
    position: relative;
    @include flexBox(row);
    justify-content: center;
    padding: 0 20px;

&__logo--menu {
    margin: 20px 0 15px;
    width: 160px;
}
&__a--menu {
    position: absolute;
    align-self: center;
    left: 20px;
    background-color: #fff;
    border: none;
    color: $grey-color;

    &:hover {
        cursor: pointer;
    }
}
&__icon--menu {
    font-size: 18px;
}
}
.footer {
    padding:  25px;
    @include flexBox(column);
    background-color: $grey-color;
    @include desktop {
        padding: 25px 200px;
    }

    &__h2 {
        font-size: 18px;
        font-family: $logo-title-font;
        margin-bottom: 20px;
        color: #fff;
        font-weight: weight(regular);
        @include desktop{
            align-self: center;
            font-size: 24px
        }
       @include tablet {
        align-self: center;
        font-size: 24px;
       }
       
    }

    &__ul {
        @include flexBox(column);
        gap: 10px;
        list-style-type: none;
        text-decoration: none;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
        
        
    }
    &__li a {
        color: #fff;

        &:hover {
            color: $secondary-color;
            cursor: pointer;
        }
        }
    &__icon {
        margin-right: 5px;
    }


}