$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-accent: #343638;
$light-accent: #E7E5E5;
$lightest-accent:#f2f2f2;
$logo-title-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;
$font-weights: (
    "thin": 400,
    "regular": 500,
    "bold": 700,
    "thick": 900
);

$mobile: 768px;
$tablet: 992px;
$desktop: 992px;