.menu-card {
    min-height: 65px;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 3px darken($light-accent, 5%);
    opacity: 0;

    &--1 {
        animation: fade-in 2000ms ease forwards;
    }

    &--2 {
        animation: fade-in 2000ms ease 250ms forwards;
    }

    &--3 {
        animation: fade-in 2000ms ease 500ms forwards;
    }

    &--4 {
        animation: fade-in 2000ms ease 750ms forwards;
    }

    &__animation {
        display: flex;
        width: 414px;
        min-height: 65px;
        transition: width 1000ms;

        &:hover {
            width: 350px;
            cursor: pointer;

        }

        &:hover .menu-card__check {
            animation: check-spin 1000ms forwards;
        }
    }

    &__title {
        max-width: 270px;
        font-size: 18px;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 10px 10px 12px;
        overflow: hidden;

    }

    &__details {
        display: flex;
        justify-content: space-between;
        width: inherit;

    }

    &__description {
        color: $dark-accent;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
        width: min-content;


    }

    &__price {
        font-weight: weight(thick);
        font-size: 15px;
        color: $dark-accent;
        margin: 0 15px;


    }

    &__check-box {
        display: flex;
        justify-content: center;
        align-self: stretch;
        align-items: center;
        width: 75px;
        background-color: $tertiary-color;
        color: #fff;

    }
}

@keyframes check-spin {
    100% {
        transform: rotate(360deg);
    }
}