.restaurant-card {
    position: relative;
    height: 245px;
    width: 335px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    transform: scale(1);
    transition: transform 250ms ease-in, box-shadow 250ms ease-in;
    box-shadow: 0px 2px 5px 1px darken($light-accent, 5%);

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 2px 5px 1px darken($light-accent, 30%);
    }

    &__new {
        position: absolute;
        top: 12px;
        right: 10px;
        background-color: $tertiary-color;
        color: darken($tertiary-color, 36%);
        font-size: 14px;
        font-weight: weight(bold);
        padding: 6px 25px;
        border-radius: 2px;


    }

    &__textbox {
        @include flexBox(column);
        position: relative;
        padding: 10px 12px;
        height: 75px;
        gap: 5px;


    }

    &__title {
        font-weight: weight(thick);
        font-size: 18px;

    }

    &__text {
        font-size: 17px;

    }

    &__favourite {
        height: 25px;
        width: 25px;
        position: absolute;
        right: 20px;
        top: 20px;

        &:hover>.restaurant-card__icon2 {
            opacity: 1;
            animation: fade-in-heart 1000ms ease;
        }

        &:hover>.restaurant-card__icon {
            opacity: 0;
        }



    }

    &__icon {
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: -12px;
        left: 1px;


    }

    &__icon2 {
        width: 25px;
        height: 25px;
        position: absolute;
        bottom: -12px;
        left: 1px;
        opacity: 0;



        &::before {
            background-image: linear-gradient(to top right, $secondary-color, $primary-color);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

    }


    &__image {
        height: 170px;
        width: 335px;
        object-fit: cover;
        object-position: 100% 100%;

        &--position {
            object-position: 100% 62%;
        }
    }
}

@keyframes fade-in-heart {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}